
<img src="../../img/ods_stickers.jpg">

## <center> [mlcourse.ai](https://mlcourse.ai) – открытый курс OpenDataScience по машинному обучению 

Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',100)
pd.set_option('precision',2)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
data[data["sex"] == "Female"].shape

(10771, 15)

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
# Ваш код здесь
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [5]:
# Ваш код здесь
data[data['native-country'] == "Germany"].shape[0]/data.shape[0]*100

0.42074874850281013

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [8]:
# Ваш код здесь
print(data[data['salary']=='>50K']['age'].mean())
print(data[data['salary']=='>50K']['age'].std())
print(data[data['salary']=='<=50K']['age'].mean())
print(data[data['salary']=='<=50K']['age'].std())

44.24984058155847
10.51902771985177
36.78373786407767
14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [20]:
data[data["salary"] == ">50K"].sort_values(by="education")

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
23686,40,Private,199599,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
30496,55,Private,134120,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32179,58,Private,250206,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,5178,0,40,United-States,>50K
3983,64,State-gov,550848,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
4024,31,Private,381153,10th,6,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7339,34,Self-emp-not-inc,29254,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States,>50K
7342,37,Private,213841,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
15143,43,Private,339767,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,0,0,20,England,>50K
7265,35,Private,192626,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
17366,38,Private,48779,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,>50K

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [22]:
# Ваш код здесь
data.groupby(["race","sex"])["age"].describe()

                             count   mean    std   min   25%   50%    75%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.12  13.11  17.0  27.0  36.0  46.00
                   Male      192.0  37.21  12.05  17.0  28.0  35.0  45.00
Asian-Pac-Islander Female    346.0  35.09  12.30  17.0  25.0  33.0  43.75
                   Male      693.0  39.07  12.88  18.0  29.0  37.0  46.00
Black              Female   1555.0  37.85  12.64  17.0  28.0  37.0  46.00
                   Male     1569.0  37.68  12.88  17.0  27.0  36.0  46.00
Other              Female    109.0  31.68  11.63  17.0  23.0  29.0  39.00
                   Male      162.0  34.65  11.36  17.0  26.0  32.0  42.00
White              Female   8642.0  36.81  14.33  17.0  25.0  35.0  46.00
                   Male    19174.0  39.65  13.44  17.0  29.0  38.0  49.00

                            max
race               sex
Amer-Indian-Eskimo Female  80.0
                   Male    82.0
Asian-Pac-Islander Female  75.0
                   Male    90.0
Black              Female  90.0
                   Male    90.0
Other              Female  74.0
                   Male    77.0
White              Female  90.0
                   Male    90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [31]:
# Ваш код здесь
total_men_50k = data[data["salary"] == ">50K"].shape[0]
married_men = data[(data["salary"] == ">50K") & ((data["marital-status"] == "Married-civ-spouse")|\
                                   (data["marital-status"] == "Married-spouse-absent")|\
                                   (data["marital-status"] == "Married-AF-spouse"))].shape[0]
not_married_men = total_men_50k-married_men
print("Married",married_men/total_men_50k*100,"%")
print("Not Married",not_married_men/total_men_50k*100,"%")

Married 85.9074097691621 %
Not Married 14.092590230837903 %

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [36]:
# Ваш код здесь
working_max = data[data["hours-per-week"] == float(99)].shape[0]
print(working_max)
data[(data["hours-per-week"] == float(99))&(data["salary"]==">50K")].shape[0]/working_max

85

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [39]:
# Ваш код здесь
data.groupby(["native-country","salary"])["hours-per-week"].describe()

                                     count   mean    std   min    25%   50%  \
native-country             salary
?                          <=50K     437.0  40.16  12.82   1.0  40.00  40.0
                           >50K      146.0  45.55  10.20   8.0  40.00  40.0
Cambodia                   <=50K      12.0  41.42   3.09  40.0  40.00  40.0
                           >50K        7.0  40.00   0.00  40.0  40.00  40.0
Canada                     <=50K      82.0  37.91  13.01   8.0  32.75  40.0
                           >50K       39.0  45.64  12.07  20.0  40.00  45.0
China                      <=50K      55.0  37.38  11.44   1.0  36.00  40.0
                           >50K       20.0  38.90  10.13  10.0  38.00  40.0
Columbia                   <=50K      57.0  38.68   8.61   5.0  40.00  40.0
                           >50K        2.0  50.00   0.00  50.0  50.00  50.0
Cuba                       <=50K      70.0  37.99   9.96   5.0  40.00  40.0
                           >50K       25.0  42.44  12.45  14.0  40.00  40.0
Dominican-Republic         <=50K      68.0  42.34  11.12  22.0  40.00  40.0
                           >50K        2.0  47.00   9.90  40.0  43.50  47.0
Ecuador                    <=50K      24.0  38.04  10.25  22.0  30.00  40.0
                           >50K        4.0  48.75   2.50  45.0  48.75  50.0
El-Salvador                <=50K      97.0  36.03   9.40   3.0  32.00  40.0
                           >50K        9.0  45.00   7.07  35.0  40.00  45.0
England                    <=50K      60.0  40.48  15.18   7.0  40.00  40.0
                           >50K       30.0  44.53  11.07  20.0  40.00  40.0
France                     <=50K      17.0  41.06  12.40  15.0  40.00  40.0
                           >50K       12.0  50.75  16.36  40.0  40.00  47.5
Germany                    <=50K      93.0  39.14  12.12   6.0  38.00  40.0
                           >50K       44.0  44.98  11.94   8.0  40.00  45.0
Greece                     <=50K      21.0  41.81  16.86   4.0  40.00  40.0
                           >50K        8.0  50.62  11.78  35.0  40.00  50.0
Guatemala                  <=50K      61.0  39.36   6.57  18.0  40.00  40.0
                           >50K        3.0  36.67   5.77  30.0  35.00  40.0
Haiti                      <=50K      40.0  36.33  11.94  10.0  30.00  40.0
                           >50K        4.0  42.75   9.14  35.0  38.75  40.0
Holand-Netherlands         <=50K       1.0  40.00    NaN  40.0  40.00  40.0
Honduras                   <=50K      12.0  34.33   8.63  17.0  30.00  37.5
                           >50K        1.0  60.00    NaN  60.0  60.00  60.0
Hong                       <=50K      14.0  39.14   4.29  30.0  37.75  40.0
                           >50K        6.0  45.00  10.00  40.0  40.00  40.0
Hungary                    <=50K      10.0  31.30  18.60   3.0  20.00  30.0
                           >50K        3.0  50.00  10.00  40.0  45.00  50.0
India                      <=50K      60.0  38.23  12.62   8.0  35.00  40.0
                           >50K       40.0  46.48  10.06  20.0  40.00  41.5
Iran                       <=50K      25.0  41.44  12.44   6.0  40.00  40.0
                           >50K       18.0  47.50  10.33  30.0  40.00  45.0
Ireland                    <=50K      19.0  40.95   7.18  25.0  38.00  40.0
                           >50K        5.0  48.00  10.95  40.0  40.00  40.0
Italy                      <=50K      48.0  39.62  15.09   6.0  38.75  40.0
                           >50K       25.0  45.40   9.50  20.0  40.00  40.0
Jamaica                    <=50K      71.0  38.24   9.67  10.0  35.00  40.0
                           >50K       10.0  41.10   4.95  35.0  38.50  40.0
Japan                      <=50K      38.0  41.00  11.90  10.0  40.00  40.0
                           >50K       24.0  47.96  16.12  21.0  40.00  42.5
Laos                       <=50K      16.0  40.38   4.11  31.0  40.00  40.0
                           >50K        2.0  40.00   0.00  40.0  40.00  40.0
Mexico                     <=50K     610.0  40.00  10.38   4.0  40.00  40.0
                           >50K       33.0  46.58  10.92  30.0  40.00  40.0
Nicaragua                  <=50K      32.0  36.09   8.66  11.0  30.00  40.0
                           >50K        2.0  37.50   3.54  35.0  36.25  37.5
Outlying-US(Guam-USVI-etc) <=50K      14.0  41.86  10.75  24.0  36.25  40.0
Peru                       <=50K      29.0  35.07  11.61   4.0  28.00  40.0
                           >50K        2.0  40.00   0.00  40.0  40.00  40.0
Philippines                <=50K     137.0  38.07  11.27   8.0  40.00  40.0
                           >50K       61.0  43.03   8.45  35.0  40.00  40.0
Poland                     <=50K      48.0  38.17  12.24   3.0  40.00  40.0
                           >50K       12.0  39.00   9.78  10.0  40.00  40.0
Portugal                   <=50K      33.0  41.94   9.06  30.0  40.00  40.0
                           >50K        4.0  41.50   5.97  36.0  39.00  40.0
Puerto-Rico                <=50K     102.0  38.47   9.75   6.0  36.00  40.0
                           >50K       12.0  39.42  11.06   8.0  40.00  40.0
Scotland                   <=50K       9.0  39.44   9.17  20.0  40.00  40.0
                           >50K        3.0  46.67  11.55  40.0  40.00  40.0
South                      <=50K      64.0  40.16  16.83   4.0  35.00  40.0
                           >50K       16.0  51.44  10.94  35.0  40.00  50.0
Taiwan                     <=50K      31.0  33.77  14.27   2.0  20.00  40.0
                           >50K       20.0  46.80  13.49  27.0  40.00  40.0
Thailand                   <=50K      15.0  42.87  20.41  10.0  35.00  40.0
                           >50K        3.0  58.33  14.43  50.0  50.00  50.0
Trinadad&Tobago            <=50K      17.0  37.06  12.48  14.0  35.00  40.0
                           >50K        2.0  40.00   0.00  40.0  40.00  40.0
United-States              <=50K   21999.0  38.80  12.40   1.0  35.00  40.0
                           >50K     7171.0  45.51  11.03   1.0  40.00  40.0
Vietnam                    <=50K      62.0  37.19  12.42   1.0  40.00  40.0
                           >50K        5.0  39.20   1.79  36.0  40.00  40.0
Yugoslavia                 <=50K      10.0  41.60  11.31  20.0  40.00  40.0
                           >50K        6.0  49.50  11.20  40.0  40.00  46.0

                                     75%   max
native-country             salary
?                          <=50K   45.00  99.0
                           >50K    50.00  80.0
Cambodia                   <=50K   40.50  50.0
                           >50K    40.00  40.0
Canada                     <=50K   40.00  70.0
                           >50K    51.00  72.0
China                      <=50K   40.00  60.0
                           >50K    41.25  60.0
Columbia                   <=50K   40.00  60.0
                           >50K    50.00  50.0
Cuba                       <=50K   40.00  70.0
                           >50K    50.00  60.0
Dominican-Republic         <=50K   40.00  98.0
                           >50K    50.50  54.0
Ecuador                    <=50K   40.00  66.0
                           >50K    50.00  50.0
El-Salvador                <=50K   40.00  60.0
                           >50K    50.00  55.0
England                    <=50K   45.00  99.0
                           >50K    50.00  85.0
France                     <=50K   50.00  66.0
                           >50K    50.00  99.0
Germany                    <=50K   45.00  70.0
                           >50K    50.00  70.0
Greece                     <=50K   55.00  75.0
                           >50K    61.25  65.0
Guatemala                  <=50K   40.00  60.0
                           >50K    40.00  40.0
Haiti                      <=50K   40.00  75.0
                           >50K    44.00  56.0
Holand-Netherlands         <=50K   40.00  40.0
Honduras                   <=50K   40.00  45.0
                           >50K    60.00  60.0
Hong                       <=50K   40.00  50.0
                           >50K    43.75  65.0
Hungary                    <=50K   47.50  60.0
                           >50K    55.00  60.0
India                      <=50K   40.00  84.0
                           >50K    50.00  72.0
Iran                       <=50K   48.00  65.0
                           >50K    53.75  70.0
Ireland                    <=50K   42.00  55.0
                           >50K    60.00  60.0
Italy                      <=50K   40.00  80.0
                           >50K    50.00  67.0
Jamaica                    <=50K   40.00  70.0
                           >50K    40.00  50.0
Japan                      <=50K   41.50  65.0
                           >50K    50.00  99.0
Laos                       <=50K   40.00  50.0
                           >50K    40.00  40.0
Mexico                     <=50K   40.00  99.0
                           >50K    50.00  80.0
Nicaragua                  <=50K   40.00  60.0
                           >50K    38.75  40.0
Outlying-US(Guam-USVI-etc) <=50K   50.25  60.0
Peru                       <=50K   40.00  60.0
                           >50K    40.00  40.0
Philippines                <=50K   40.00  99.0
                           >50K    40.00  80.0
Poland                     <=50K   40.00  65.0
                           >50K    40.00  50.0
Portugal                   <=50K   40.00  84.0
                           >50K    42.50  50.0
Puerto-Rico                <=50K   40.00  80.0
                           >50K    42.50  50.0
Scotland                   <=50K   40.00  55.0
                           >50K    50.00  60.0
South                      <=50K   48.50  99.0
                           >50K    60.00  70.0
Taiwan                     <=50K   40.00  60.0
                           >50K    55.00  84.0
Thailand                   <=50K   52.50  80.0
                           >50K    62.50  75.0
Trinadad&Tobago            <=50K   40.00  60.0
                           >50K    40.00  40.0
United-States              <=50K   40.00  99.0
                           >50K    50.00  99.0
Vietnam                    <=50K   40.00  77.0
                           >50K    40.00  40.0
Yugoslavia                 <=50K   40.00  66.0
                           >50K    58.00  65.0